@mixin aspect-ratio ($width, $height) {
    position: relative;
    width: $height;
    padding-bottom: $width;
    > div {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover !important;
    }
}