input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 40%;

    transition: .25s;
    &:hover {
        transform: scale(1.1);
    }
}

.formContainer {
    padding: 16px;
    width: 50%;
    margin: auto;
}
